.container{
    padding: 1rem 1rem 0 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    width: 100%;
    height: 69px;
    border: 1px solid var(--cinza-100);
    margin-bottom: 47px;
    border-radius: 63px;

    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 25px;
}

.form{
    width: 100%;
    max-width: 672px;
    height: 320px;
    border: 5px solid var(--fundo);
    border-radius: 63px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;

    button{
        position: absolute;
        right: 10%;
        bottom: 5%;
        width: 151px;
        height: 37px;
        border: none;
        border-radius: 63px;
        background-color: var(--verde-mais-forte);
        color: var(--branco);
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
}

.baseInput{
    width: 100%;
    margin-bottom: 1rem;
    label{
        font-size: 23px;
    }
    input, select{
        width: 100%;
        max-width: 509px;
        height: 50px;
        background-color: var(--branco);
        border: none;
        padding: 0 0.5rem;
    }
}