.container{
    padding: 1rem 1rem 0 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    width: 100%;
    height: 69px;
    border: 1px solid var(--cinza-100);
    margin-bottom: 47px;
    border-radius: 63px;

    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 25px;
}

.form{
    width: 100%;
    max-width: 55rem;
    height: 109px;
    border: 5px solid var(--fundo);
    border-radius: 36px;
    
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;

    label{
        font-size: 20px;
    }

    select{
        width: 15rem;
        height: 3rem;
        margin: 0 0.3rem;
        padding: 0 0.5rem;
        border: none;
    }

    button{
        width: 8rem;
        height: 3rem;
        border: none;
        background-color: var(--verde-claro);
        color: var(--branco);
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
}

.baseDaListaBanda{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    a{
        width: 100%;
        max-width: 120px;
        height: 40px;
        border-radius: 36px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: var(--verde-claro);
        color: var(--branco);
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    p{
        font-size: 20px;
    }
}

.boxBanda{
    background-color: var(--branco);
    width: 100%;
    height: 50px;
    max-width: 50rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
    margin-bottom: 0.5rem;

    button{
        background: transparent;
        border: none;
        cursor: pointer;
        
        svg{
            font-size: 30px;
        }
    }
}