* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}

:root {
    --fundo: #1B3358;
    --branco: #fff;
    --preto: #000;
    --roxo: #883781;

    --verde-claro: #8DB989;
    --vermelho-claro: #B98989;
}