.container{
    padding: 1rem 1rem 0 290px;
    display: flex;
    flex-direction: column;
}

.title{
    width: 100%;
    height: 69px;
    border: 1px solid var(--cinza-100);
    margin-bottom: 47px;
    border-radius: 63px;

    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 25px;
}